@import url(dot_loading.css);
@import url(bar.css);

body{
    font-size: 1.5rem;
    font-weight: bold;
}

hr{
    height: 5px;
    width: 100%;
    background-color: black;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circular{
    display: inline-block;
    border: 8px solid gray;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-left-color: blue;
    animation: loading 1s linear  infinite;
}


@keyframes loading {
    100%{
        transform: rotate(1turn);
    }
}